@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --colorbase: #F7BCBD;
  --black: #3A3A3A;
  --white: #F8F0F0;
  --title: #518ee4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--black);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 30% 70%;
}

a {
  color: var(--black);
  text-decoration: none;
}

/*************************************** COLORED PART ***************************************/

h3 {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.5rem
}

span {
  color: var(--title);
  padding: 0 10px;
}


.color {
  background: var(--colorbase);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-top: 60px;
}

img {
  border-radius: 70px;
  width: 50%;
}

.hidden-presentation {
  display: none;
  margin: 60px 60px 0 100px;
}

.hidden-presentation h1 {
  font-size: 1.5rem;
  font-weight: 200;
}

.hidden-presentation h2 {
  color: var(--title);
  font-size: 2rem;
}

.hidden-presentation p {
  color: var(--black);
}

.infocard {
  display: flex;
  margin-top: 30px;
}

.icon p {
  margin: 10px 10px 10px 0px;
}

.infos p {
  margin: 10px;
}

.whole div {
  margin: 50px;
}

.whole h3 {
  color: var(--white);
  text-shadow: 2px 2px 2px  var(--black);
}

.whole ul {
  list-style: none;
}

/****************************************** WHITE PART *****************************************/

.white {
  margin: 60px 90px;
}

.white section {
  margin: 40px 0 ;
}

.white h3 {
  color: var(--title);
}

.white p {
  color: gray;
  margin: 3px 0;
}

.white article {
  margin: 20px 10px;
}

.presentation h1 {
  font-size: 2rem;
  font-weight: 200;
}

.presentation h2 {
  color: var(--title);
  font-size: 3rem;
}

.presentation p {
  color: var(--black);
}

.languages ul {
  list-style: none;
}

.languages li {
  font-weight: 600;
  margin: 0 10px;
}

.competences ul {
  list-style:  none;
  margin: 10px;
  font-weight: 900;
}

.competences li {
  margin: 10px 0;
  font-size: 1.1rem;
}

.experiencespersos h4 {
  font-size: 1.1rem;
}

.experiencespersos ul {
  margin-left: 20px;
  color: gray;
}

footer {
  display: none;
}

@media only screen and (max-width: 950px) {
  .infocard {
    font-size: 0.9rem;
  }
}


@media only screen and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }


  .color {
    display: block;
  }

  .presentation{
    display: none;
  } 

  .hidden-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  .infocard, .white {
    margin-left: 50px;
  }

  .competences {
    padding-top: 10px;
    margin-top: 0px;
  }

  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--title);
    color: var(--white);
    padding: 30px;
  }

  footer a {
    color: var(--white);
  }

  footer p {
    padding : 5px 10px;
  }
}

@media only screen and (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
